.tweeters-list
  - user = service.user
  
  .avatar
    = link_to "#{image_tag(user.avatar.url(:thumb))}", user_path(user)
   
    
  .details
    %h3
      = link_to h(user.name), user_path(user), :class => "fn url"
      %span
        =service
        
    %p
      /= link_to h(service.name), user_service_path(user, service)
      
      = "#{h service.price}元/#{h service.price_unit}"
      = "@#{h user.address.single_name}"
      = "#{service.radius}公里以内" if service.radius
    %p
      = h(service.name)
    %p
      /= calendar_for(2009, 4, :next_and_previous_month => ">>")

  .more-info
    %p
      =h service.description
    .schedule
      = week_view(:start_date => Date.today.beginning_of_week, :end_date => Date.today.beginning_of_week+6, &show_status_proc(service))
  .clear