.service-item
  - user = service.user
  
  .avatar
    = link_to "#{image_tag(user.avatar.url(:thumb))}", user_path(user)
   
    
  .details
    %h3
      = link_to h(user), user_path(user), :class => "fn url"
      %span
        =service
        
    %p
      /= link_to h(service.name), user_service_path(user, service)
      
      = "#{h service.price}元/#{h service.price_unit}"
      = "@#{h user.short_address}" unless user.short_address.blank?
      = "#{service.radius}公里以内" if service.radius
    %p
      = link_to h(service.name), service_path(service)
  
  .clear