- content_for :head do
  = javascript_include_tag '/facebox/facebox', '/prototip2.0.5/js/prototip'
  = stylesheet_link_tag '/facebox/facebox', '/prototip2.0.5/css/prototip'
  = calendar_date_select_includes(:style => 'silver')
%script{:type=>"text/javascript"}
  Date.weekdays = $w('一 二 三 四 五 六 日');
  Date.months = $w('一月 二月 三月 四月 五月 六月 七月 八月 九月 十月 十一月 十二月');

  Date.first_day_of_week = 1;

  _translations = {
  "OK": "确定",
  "Now": "现在",
  "Today": "今天",
  "Clear": "清除"
  }
  
#main-content
  #column-main
    = render :partial => 'service_details', :locals => {:service => @service}
    
    .comments
      / 这里是评论内容
#sidebar
  =link_to image_tag("add-yourself.jpg"), new_service_path
  %h2
    按类别
  %script{:type=>"text/javascript"}
    document.observe("dom:loaded", function(){
    $$(".popular-tags li").each(function(li){
    Event.observe(li, 'click', function(){
    window.location=this.down('a').href;return false;
    });
    }.bind(this));
    show_week_view_details();
    });
  %ul.popular-tags
    %li.selected
      = link_to "家教", root_url
    %li
      = link_to "拼车"
    %li
      = link_to "美容"
    %li.more-tags
      = link_to "更多 &raquo;"
  .clear
  #enter-a-category
    -form_tag root_url do
      = text_field_tag :search, "搜索类别...", :class => "clean", :onclick => "this.value=''"
      = submit_tag '搜索', :class => "go"
      .clear
  .sidebar-split
  
  %h2
    销售排名