- user = service.user
%tr{ :class => cycle("odd","even")}
  %td= check_box_tag "check"
  %td= user
  %td
    = link_to h(service.name), [:admin, service]
    = h service
    %br
    = "#{h service.price}元/#{h service.price_unit}"
    = "@#{h user.address.single_name}"
    = "#{service.radius}公里以内" if service.radius
  %td
    = service.state
  %td
    = l service.created_at, :format => :short
    %br
    = l service.updated_at, :format => :short
  %td
    = link_to "编辑", edit_admin_service_path(service)
    = link_to "删除", admin_service_path(service), :confirm => '真的要删除吗?', :method => :delete