#nav
  #extra-nav.box
    .corner.tl
    .corner.tr
    .content
      = link_to image_tag(current_user.avatar(:tiny), :class => "avatar", :alt => "avatar"), user_url(current_user)
      %h1
        = link_to h(current_user), user_url(current_user)
      %h2
        = link_to "View my profile", user_url(current_user)
      %hr
      %p#privacy_description.private
        上次登录于 
        = "2009-7-18"
        %br
        = "ip address"
        
    .corner.bl
    .corner.br
  
  #main-nav.box
    .corner.tl
    .corner.tr
    .content
      %ul
        %li.checkin
          = link_to "Dashboard", "#TODO"
          
      %ul
        %li.activity
          = link_to "服务管理", admin_services_path
          %ul
            %li= link_to "<span>待审中</span>", pending_admin_services_path
            %li= link_to "<span>已激活</span>", admin_services_path
            %li= link_to "<span>已拒绝</span>", passive_admin_services_path
            %li= link_to "<span>已暂停</span>", suspended_admin_services_path
            %li= link_to "<span>已删除</span>", deleted_admin_services_path

        %li.placemarks
          = link_to "需求管理", "#TODO"
          %ul
            %li= link_to "待审", "#TODO"
            %li= link_to "全部", "#TODO"
            %li= link_to "评论", "#TODO"
            %li= link_to "创建", "#TODO"
        
        %li.nearby
          = link_to "用户管理", admin_users_path
          %ul
            %li= link_to "全部", admin_users_path
            %li= link_to "未激活", pending_admin_users_path
            %li= link_to "已删除", deleted_admin_users_path
            
        %li.friends
          = link_to "客户管理", "#TODO"
         
        %li.places
          = link_to "订单管理", admin_orders_path
            
        %li.inbox
          = link_to "反馈管理", "#TODO"
        
        %li.account
          = link_to "设置", "#TODO"
            
    .corner.bl
    .corner.br

  #other_actions.box
    .corner.tl
    .corner.tr
    = link_to "<span><strong>Invite your friends</strong></span>", "#TODO", :class => "green small button"
    %hr
    = link_to "<span>Discover your friends</span>", "#TODO", :class => "small button"
    .corner.bl
    .corner.br