- order = @order
- service = @order.service
- user = @order.user
- buyer = @order.buyer
#orders.cnt
  .form-bg
    %table.order
      %tr
        %td
          %h3 卖家
          = link_to h(user), user_path(user)
      
          %br
          = "时间: #{service}"
          %br
          = "地点: #{h user.short_address}" unless user.short_address.blank?
          = "#{service.radius}公里以内" if service.radius
          %br
          = "价格: #{h service.price}元/#{h service.price_unit}"
          %br
          = "服务: #{h(service.name)}"
          %br
          = "详情: #{h(service.description)}"
          %br
          = "卖家回复: #{h(order.reply)}"
          %br
          = "回复时间: #{l order.replied_at, :format => :long if order.replied?}"
          %br
          = "删除时间: #{l order.deleted_at, :format => :long}" if order.deleted?
        %td
          %h3 买家
          - if buyer
            = link_to h(order.name), user_path(buyer)
          - else
            = h(order.name)
          %br
          = h order.phone
          %br
          = h order.email
          %br
          = "需求: #{simple_format order.description}"
          %br
          = "提交时间: #{l order.created_at, :format => :long}"
      %tr
        %td
          = link_to "通知卖家", "#todo"
        %td
          = link_to "回复买家", "#todo"
        
  = link_to "返回", admin_orders_path, :class => "right"
  