#user
  .u-hd
    .avatar
      = link_to "#{image_tag(user.avatar.url)}", user_path(user)
    %h1
      = link_to h(user.name), user_path(user), :class => "fn url", :rel => 'my name'
    %p
      = user.address.single_line
      = image_tag "address.png"
    %p
      共出售35小时
  .clear
  %hr.split
  .u-cnt
    #about
      = user.user_info.bio.blank? ? "这家伙很懒，啥都没写" : user.user_info.bio
      
    #networks
      = phone_numbers_list(user)
      = im_list(user)
      = sns_list(user)
