- content_for :head do
  = javascript_include_tag '/facebox/facebox', '/prototip2.0.5/js/prototip'
  = stylesheet_link_tag '/facebox/facebox', '/prototip2.0.5/css/prototip'
  
#main-content
  #column-main
    = render :partial => "order", :collection => @orders
    = will_paginate @orders
    Note: will be remove after a month later
#sidebar
  = render :partial => 'sidebar'