- content_for :head do
  = javascript_include_tag '/facebox/facebox', '/prototip2.0.5/js/prototip'
  = stylesheet_link_tag '/facebox/facebox', '/prototip2.0.5/css/prototip'
  
#main-content
  #column-main
    .user-block
      = render @user
      #calendar
        = render :partial => 'calendar', :locals => { :user => @user }
      .clear
      
    .services
      = render :partial => 'services/service_brief', :collection => @services
      
#sidebar
  = link_to "link text...", "#todo", :rel => "text to test"


%script{:type=>"text/javascript"}
  document.observe("dom:loaded", function(){
  show_calendar_details();
  });