<h1>Editing order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :service_id %><br />
    <%= f.text_field :service_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :buyer_id %><br />
    <%= f.text_field :buyer_id %>
  </p>
  <p>
    <%= f.label :buyer_name %><br />
    <%= f.text_field :buyer_name %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>