- render :layout => 'edit_layout', :object => @user do
  - form_for @user, :url => edit_password_admin_user_path(@user) do |i|
    .form-bg
      = i.error_messages
      .form-row
        = i.label :old_password, "旧密码"
        = password_field_tag :old_password
      %hr.split
      .form-row
        = i.label :password, "新密码"
        = i.password_field :password
      .form-row
        = i.label :password_confirmation, "重复密码"
        = i.password_field :password_confirmation
    
    .form-submit
      = i.submit "保存"